@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
};


.app-container {
  display: flex;
  height: 100vh; /* Ensure it takes up the full height */
  width: 100%;
}


#root{
  height: 100vh;
  display: flex;
  animation: fadein 1.5s;
}
@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

